@import "../../sass/variables";

.work-card {
  background-color: $secondary;
  min-width: 320px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  &.not-read {
    background: linear-gradient(to right bottom, $blue-white, $grey);
    border: 2px solid $blue-white;
  }
  .card-content {
    width: 100%;
    .work-description {
      color: $text;
      font-size: 14px;
      width: 100%;
      border-radius: 5px;
      button {
        user-select: none;
      }
    }
    .work-expiration {
      border-radius: 5px;
      font-size: 15px;
      color: $secondary;
      font-weight: 500;
      background: $grey;
    }
    .work-expiration-expired {
      color: $secondary;
      border-radius: 5px;
      background-color: $black-transparent;
    }
    .work-images {
      img,
      .no-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
      img {
        cursor: pointer;
      }
      .no-image {
        border: 1px dashed $text;
        span {
          color: $text;
        }
      }
    }
    .work-response {
      background-color: $grey;
      border-radius: 5px;
    }
    .show-work-response {
      cursor: pointer;
    }
  }
}
