$primary: rgb(34, 167, 34);
$secondary: rgb(238, 238, 238);
$secondary-transparent: rgba(238, 238, 238, 0.075);
$title: rgb(52, 52, 52);
$text: rgb(136, 136, 136);
$green-white: rgb(241, 252, 244);
$white: rgb(255, 255, 255);
$green-white-glass-high: rgba(241, 252, 244, 0.422);
$green-white-glass-low: rgba(241, 252, 244, 0.87);
$black-transparent: rgba(32, 32, 32, 0.3);
$red: rgb(209, 18, 18);
