$primary: rgb(34, 167, 34);
$secondary: rgb(235, 235, 235);
$secondary-transparent: rgb(235, 235, 235, 0.3);
$title: rgb(61, 61, 61);
$text: rgb(136, 136, 136);
$white: rgb(247, 255, 249);
$black-transparent: rgba(32, 32, 32, 0.3);
$red: rgb(209, 18, 18);
