$primary: rgb(0, 132, 255);
$primary-button: rgb(14, 67, 116);
$secondary: rgb(245, 250, 255);
$secondary-transparent: rgba(238, 238, 238, 0.075);
$title: rgb(37, 37, 37);
$text: rgb(126, 126, 126);
$blue-white: rgb(229, 242, 255);
$blue-white-glass-high: rgba(243, 249, 255, 0.422);
$blue-white-glass-low: rgba(243, 249, 255, 0.87);
$black-transparent: rgba(32, 32, 32, 0.3);
$red: rgb(209, 18, 18);
$grey: rgb(71, 76, 107);
$footer: rgb(11, 15, 12);
