@import "../sass/mixins";
@import "../sass/variables";

.home-screen {
  .banner {
    width: 100%;
    min-height: 80vh;
    background-image: url("../assets/images/banner.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    .banner-content {
      transform: translateY(30px);
      h1 {
        font-weight: 700;
        color: $title;

        &.text-large {
          font-size: 30px;
          @include screen-up(m) {
            font-size: 50px;
          }
        }
      }
    }
  }

  //   animation scroll down
  .scroll-animation {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    .water-drop {
      width: 10px;
      height: 10px;
      margin: 2px;
      background-color: $primary;
      border-radius: 50%;
      border: 2px solid $secondary;

      animation: drop 3s ease-in-out infinite;
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
    }

    @keyframes drop {
      0% {
        transform: translateY(-50px);
        opacity: 0;
      }
      25% {
        transform: translateY(0);
        opacity: 1;
      }
      75% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(100vh);
        opacity: 0;
      }
    }
  }

  .what-we-offer,
  .benefits,
  .how-it-works {
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 20px;
      &.contain {
        object-fit: contain;
      }
    }
    ul {
      list-style: disc;
    }
    .material-symbols-outlined {
      font-size: 80px;
      width: 80px;
      height: 80px;
      color: $primary;
    }
  }
}
